* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#calc_wrapper {
  background-color: #ccc;
  width: 400px;
  height: 475px;
  margin: 0 auto;
  padding-top: 30px;
}
#readout {
  margin: 0 auto;
  background-color: #fff;
  width: 350px;
  height: 50px;
}
#buttons_wrapper {
  width: 350px;
  height: 358px;
  margin: 30px auto 0px;
}
.row {
  height: 67.6px;
  width: 350px;
  margin-bottom: 5px;
}
.button,
.buttonx,
.filler {
  height: 67.6px;
  width: 83.75px;
  background-color: #fff;
  margin-right: 5px;
  display: inline-block;
}
.buttonx {
  margin-right: 0px;
}
#clear {
  float: right;
}
p {
  text-align: center;
  font: 200% Helvetica, Arial, sans-serif;
  line-height: 67.6px;
}
#digits {
  text-align: right;
  font: 225% "Times New Roman", Helvetica, Arial, sans-serif;
  margin-right: 5px;
  line-height: 50px;
}
