doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #calc_wrapper
      #readout
      #buttons_wrapper
        .row
          a(href="#")
            .buttonx(id="clear")
              p Clear
        .row
          a(href="#")
            .button
              p 7
          a(href="#")
            .button
              p 8
          a(href="#")
            .button
              p 9
          a(href="#")
            .buttonx
              p % 
        .row
          a(href="#")
            .button
              p 4
          a(href="#")
            .button
              p 5
          a(href="#")
            .button
              p 6
          a(href="#")
            .buttonx
              p x
        .row
          a(href="#")
            .button
              p 1
          a(href="#")
            .button
              p 2
          a(href="#")
            .button
              p 3
          a(href="#")
            .buttonx
              p -
        .row
          a(href="#")
            .button
              p 0
          a(href="#")
            .button
              p .
          a(href="#")
            .button
              p =
          a(href="#")
            .buttonx
              p +
