doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #calc_wrapper
      #readout
      #buttons_wrapper
        #row1 a
        #row2
          .button 7
          .button 8
          .button 9
          .button % 
        #row3 a
        #row4 a
        #row5 a   
